* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
	font-size: 1em;
	font-size: 32px;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	background: #e6e6e6;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(7, 1fr);
	gap: 5px;
}

.output {
	grid-column-start: 1;
	grid-column-end: 5;
	padding-right: 10px;
	cursor: pointer;
}
#output_current {
	font-size: 56px;
	display: flex;
	justify-content: end;
	align-items: end;
}

#output_action {
	height: 40px;
	font-size: 20px;
	padding-right: 10px;
	display: flex;
	justify-content: end;
	align-items: end;
	color: gray;
}

.button_calc {
	cursor: pointer;
	flex-grow: 1;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.number_btn {
	background: #fff;
	font-weight: 700;
}

.number_btn:hover {
	background: #f0f0f0;
}

.action_btn {
	background: #f0f0f0;
}

.action_btn:hover {
	background: #fff;
}

.equel_btn {
	background: #d18cdd;
}

.equel_btn:hover {
	background: #c077cc;
}
