* {
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
	border: 1px solid #000;
}

#pauseBtn {
	margin: 0 auto;
	display: block;
	margin-top: 10px;
	font-size: 18px;
}
.speedWrapper {
	/* position: relative; */
	/* background: #000; */
}
#speedInput {
	width: 150px;
	transform: rotate(-90deg);
	margin-top: 100px;
	margin-left: 50px;
	/* margin-top: 200px; */
	/* position: absolute; */
	/* display: block; */
}

.wrapper {
	display: flex;
}

#speedLabel {
	/* transform: rotate(180deg); */
}

#timerLabel {
	text-align: center;
	font-size: 32px;
	margin: 10px 0;
}

#timerSelect {
	/* cursor: not-allowed; */
}